<ion-view title="Calculadora de ganancias">
  <ion-content scroll="false">
    <div ng-controller="CalculatorCtrl">
      <div>
        Datos
      </div>
      <div >
        <div >
          <div >
              <div >
                <div >
                  <label>Sueldo Bruto</label>
                  <input type="text" ng-model="sueldoBruto" >
                </div>
              </div>
              <div>
                <label>Conyuge a Cargo "0" si no tiene "1" si tiene </label>
                <input type="text" ng-model="tieneConyuge" >
              </div>
              <div>
                <label>Familiares a Cargo</label>
                <input type="text" ng-model="familiaresACargo" >
              </div>
              <div>
                <label>Cantidad de Hijos</label>
                <input type="text" ng-model="cantidadHijos" >
              </div>
            <button ng-click="calcular()">Calcular</button>
          </div>
        </div>
      </div>
      Descuento Ganancias: $ {{impustoPorGanancias}} <br/>
      Descuentos Jubilación + OS + Ley: $ {{descuentos}} <br/>
      Descuentos Totales + OS + Ley: $ {{descuentosTotales}} <br/>
      Sueldo Neto: $ {{sueldoNeto}}

    </div>
  </ion-content>
</ion-view>
