<ion-view title="Calculadora de ganancias">

    <div class="bar bar-header bar-calm" >
      <h1 class="title">Cálculo de Ganancias</h1>
    </div>
  <ion-content  scroll="true" style="background-color: rgba(0,0,0,0.02)">
    <div class="content has-header" ng-controller="CalculatorCtrl">
      <div class="list list-inset">
        <div class="row item item-input" >
          <span class="col col-50 ">Sueldo Bruto en $ </span>
          <input class="big" style="text-align: right" type="number" min="0" ng-model="sueldoBruto" ng-change="calcular()"/>
        </div>


        <ion-toggle class="toggle-chico" ng-model="tieneConyuge" toggle-class="toggle-balanced" ng-change="calcular()">Conyuge a Cargo
        </ion-toggle>

		<div class="row item item-input">
			<span class="col col-50 ">Familiares a Cargo</span>
			<div class="button-bar center col-50">
				<button ng-click="modificarFamiliaresACargo(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left assertive"></i></button>
				<span class="display-numero"><b>{{familiaresACargo}}</b></span>
				<button ng-click="modificarFamiliaresACargo(1)" class="button button-clear"><i class="icon ion-ios-arrow-right balanced"></i></button>
			</div>
		</div>

		<div class="row item item-input" style="padding-top:5px !important">
			<span class="col col-50 ">Cantidad de Hijos</span>
			<div class="button-bar center col-50">
				<button ng-click="modificarCantidadHijos(-1)" class="button button-clear"><i class="icon ion-ios-arrow-left assertive"></i></button>
				<span class="display-numero"><b>{{cantidadHijos}}</b></span>
				<button ng-click="modificarCantidadHijos(1)" class="button button-clear"><i class="icon ion-ios-arrow-right balanced"></i></button>
			</div>
		</div>



      </div>
      <div class="card">
        <div class="item item-text-wrap">
          <label >Descuento Ganancias:  </label> <span class="assertive resultados-right"> $ {{impustoPorGanancias}}</span>
        </div>
        <div class="item item-text-wrap">
         <label >Desct. Jubilación + OS + Ley:</label> <span class="resultados-right"> $ {{descuentos}}</span>
        </div>
        <div class="item item-text-wrap" >
          <label>Desct. Totales: </label> <span class="resultados-right"> $ {{descuentosTotales}}</span>
        </div>
        <div class="item item-text-wrap item-calm" >
         <label> Sueldo Neto:</label> <span class="resultados-right big"> $ {{sueldoNeto}}</span>
        </div>


      </div>
    </div>
  </ion-content>
</ion-view>
